@CHARSET "ISO-8859-1";
/*
 *  ----------------------    general  ----------------------------
*/
body {
	background-image: url("background.png");
	margin: 0px;
	z-index: -10; /* Layer  (background) */
	font-family: Arial;
	overflow-y: hidden;
}

h1 {
	font-family: Papyrus, Arial;
	font-size: 30pt;
	text-decoration: underline;
	text-align: center;
	text-decoration: underline;
}

#content {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

div#mainDiv, div#divHoverRight {
	z-index: 2; /* Layer  (forground) */
	height: 80%;
}

div#mainDiv {
	width: 70%;
	float: left;
}

div#divHoverRight {
	width: 30%;
	float: right;
}

div#title {
	height: 10%;
	width: 100%;
}

#titleTag {
	width: 95%;
	height: 100%;
}

.languageButton {
	width: 10%;
	height: auto;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

li {
	float: right;
}

ul {
	list-style: none;
	text-align: center;
}

/* language button */
input#frenchButton {
	background-image: url("../pictures/LanguageFR.png");
}

input#englishButton {
	background-image: url("../pictures/LanguageEN.png");
}

/* Div: 100% size, Background color: orange */
div#viewMap, #viewGame, div#viewRules, div#viewScore {
	height: 100%;
	width: 100%;
	background-color: #ffd966;
}

/*
 *  ----------------------    buttons Main Menu  ----------------------------
*/
.mainMenu {
	width: 50%;
	height: 15%;
	margin-left: 45%;
	margin-bottom: 5%;
	font-size: 26pt;
}

.mainMenu:hover, .buttonRight:hover, .twoButtons:hover, #popupNext:hover {
	background-color: #ffb044; /* dark orange */
}

.mainMenu, .buttonRight, .twoButtons, #popupNext {
	color: black;
	border: 1px solid black;
	background-color: #ffd966; /* orange */
	font-family: 'Calibri';
}
/*
 *  ----------------------    Menu Right  ----------------------------
*/
div#viewRight {
	height: 100%;
}

.buttonRight {
	width: 100%;
	height: 100%;
	font-size: 20pt;
}

div#button_1, div#button_2 {
	height: 10%;
}

div#textImage, div#button_1, div#button_2 {
	z-index: 2;
	margin-bottom: 5px;
	margin-left: 20px;
	margin-right: 5px;
}

div#textImage {
	height: 75%;
	padding: 10px;
	border: 1px solid black;
	background-color: #ffd966; /* orange */
}

div#hover_image {
	z-index: 4;
	height: 35%;
	width: 100%;
}

div#hover_text {
	z-index: 4;
	height: 60%;
	width: 100%;
	margin-top: 4%;
}

img {
	max-width: auto;
	max-height: 100%;
	/* center image */
	display: block;
	margin-left: auto;
	margin-right: auto
}

/*
 *  ----------------------    Placement Map  ----------------------------
*/
div#viewMap {
	z-index: 1px;
	border: 3px solid black;
	/* height: 100%;
	width: 100%;
	
	background-color: #ffd966; /* orange */
}

#map {
	height: 100%;
	width: 100%;
}

.zone {
	background-color: red;
	border: 5px solid white;
	border-radius: 100%;
	cursor: pointer;
	width: 50px;
	height: 50px;
	position: absolute;
}

.zone:hover {
	background-color: pink;
}

/*
 *  ----------------------    game interface  ----------------------------
*/

/* table size*/
div#viewGame {
	border: 1px solid black;
}

#tableGame {
	padding-left: 15px;
	width: 100%;
	height: 100%;
	width: 100%;
	border-spacing: 10px;
}

.citizen {
	width: 25%;
	height: 7%;
}

.number {
	width: 7%;
	min-width: 70px;
	text-align: right;
}

.pyramid {
	width: 65%;
	height: 80%;
}

.tech {
	width: 21%;
	text-align: center;
}

.description {
	height: 10%;
}

input[type="number"] {
	width: 100%;
	text-align: right;
}

/* table content */
.tech_Button {
	width: 100%;
	height: 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	background-color: white;
}

.tech_Button[name="writing"] {
	background-image: url(../pictures/management_writing.png);
}

.tech_Button[name="pottery"] {
	background-image: url(../pictures/management_pottery.png);
}

.tech_Button[name="granary"] {
	background-image: url(../pictures/management_granary.png);
}

/* color of the fields */
#table_king {
	background-color: #FDFBB9; /* yellow  */
}

#table_priest {
	background-color: #B962B9; /* violet  */
}

#table_craftsment {
	background-color: #FADAA9; /* piggy orange :)  */
}

#table_scribes {
	background-color: #39B7FB; /* blue  */
}

#table_soldiers {
	background-color: #F36971; /* red  */
}

#table_peasants {
	background-color: #D2F079; /* green  */
}

#table_slaves {
	background-color: #C3C3C3; /* grey  */
}

#table_population, #table_caravans {
	background-color: #ffb044; /* dark orange  */
}

#chartdiv {
	height: 100%;
	width: 100%;
	background-color: white;
}

/*
 *  ----------------------    Rules interface  ----------------------------
*/
div#viewRules {
	/* set scroll bar */
	overflow-y: scroll;
	display: block;
	padding-left: 10px;
}

.buttonRules {
	width: 80%;
	color: black;
	border: 1px solid black;
	background-color: #ffd966; /* orange */
	font-family: 'Calibri';
	margin-left: 5%;
	height: 10%;
	font-size: 26pt;
}

/*
 *  ----------------------    Score interface  ----------------------------
*/
.scoreName {
	width: 20%;
}

.scoreNumber {
	witdh: 20%;
}

#textEndOfGame {
	width: 55%;
	border: 1px solid black;
}

#tableScore {
	width: 100%;
	padding-top: 10%;
	padding-left: 5%;
	padding-right: 5%;
	border-spacing: 10px;
}

/*
 *  ----------------------    login interface  ----------------------------
*/
#login, #viewRegister {
	width: 50%;
	height: 50%;
	float: right;
	padding-left: 5%;
	padding-top: 5%;
}

#loginUsername, #loginPassword {
	width: 90%;
	height: 15%;
	font-size: 15pt;
	border: 1px solid black;
}

.buttonLogin {
	width: 90%;
	height: 15%;
	color: black;
	border: 1px solid black;
	background-color: #ffd966; /* orange */
	font-family: 'Calibri';
	font-size: 15pt;
}

/*
 *  ----------------------    register interface  ----------------------------
*/
.registerButton {
	width: 90%;
	height: 15%;
	font-size: 15pt;
	border: 1px solid black;
}

/*
 *  ----------------------    popup interface  ----------------------------
*/
.divPopup {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 47%;
	width: 50%;
	background-color: #ffd999; /* light orange */
	margin: auto;
	border: 1px solid black;
	z-index: 100;
	position: absolute;
	float: right;
}

.popupImage, .popupText, .popupButton {
	width: 90%;
	margin: auto;
	padding-top: 1%;
}

.popupImage {
	padding-top: 3%;
	height: 30%;
}

.popupText {
	background-color: white;
	height: 30%;
	padding-left: 10px;
	border: 1px solid black;
	margin-top: 7px;
}

.popupButton {
	height: 20%;
	padding-left: 5px;
}

.twoButtons {
	background-color: #ffd966; /* orange */
	height: 100%;
	width: 49%;
	margin-left: -5px;
	font-size: 20pt;
	
}

#popupNo {
	margin-left: 2%;
}
/* popup continue */
#popupNext {
	height: 100%;
	width: 101%;
	font-size: 20pt;
	margin-left: -1%;
	
}